<%- include("partials/header.ejs") %>

<div class="container d-flex justify-content-center">
  <form action="/create" method="POST" class="w-100 mt-5">
    <div class="row mb-1">
      <label for="title" class="col-sm-1 col-form-label">Title: </label>
      <div class="col-sm-11">
        <input
          class="form-control"
          type="text"
          name="title"
          placeholder="Books title"
        />
        <br />
      </div>
    </div>

    <div class="row mb-1">
      <label for="author" class="col-sm-1 col-form-label">Author: </label>
      <div class="col-sm-11">
        <input
          class="form-control"
          type="text"
          name="author"
          placeholder="Authors Name"
        />
        <br />
      </div>
    </div>

    <div class="row mb-1">
      <label for="rating" class="col-sm-1 col-form-label">Rating: </label>
      <div class="col-sm-11">
        <input
          class="form-control"
          type="number"
          name="rating"
          placeholder="Book Rating"
          step="0.1"
          min="0"
          max="10"
        />
        <br />
      </div>
    </div>

    <div class="row mb-1">
      <label for="description" class="col-sm-1 col-form-label"
        >Comments:
      </label>
      <div class="col-sm-11">
        <input
          class="form-control"
          type="text"
          name="comments"
          placeholder="Your comments"
        />
        <br />
      </div>
    </div>

    <div class="row mb-1">
      <label for="isbn" class="col-sm-1 col-form-label">ISBN: </label>
      <div class="col-sm-11">
        <input
          class="form-control"
          type="text"
          name="isbn"
          placeholder="The books ISBN"
        />
        <br />
      </div>
    </div>
    <button type="submit" class="save btn btn-secondary">Create Entry</button>
    <a href="/create" class="btn btn-secondary">Reset Form</a>Y
    <a href="/" class="btn btn-secondary">Cancel</a>
</form>
</div>

<%- include("partials/footer.ejs") %>
